<div class="container-fluid">
    <div class="full">
    <div class="container">
      <div class="contentI">
      <img src="../../../assets/about.png" alt="">
      <div class="content">
        <p class="name">Lenovo</p>
        <p class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vitae consequuntur, ipsam sed ducimus minus unde repellat deleniti accusantium deserunt ipsa sapiente provident facere soluta ipsum suscipit quisquam! Soluta, amet.</p>
        <p>Sold By <strong>Crafts</strong></p>
        <button class="remove-button"><i class="bi bi-trash3-fill"></i>Remove</button>
      </div>
    </div>
      <div class="price">
        <p class="priceLeft">EGP<strong>12581</strong> </p>
        <select value="1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    
    <div class="btnClear">
      <a routerLink="" class="conShop">Continue Shopping</a>
      <button class="clear">Clear All</button>
    </div>
    </div>
    
    
    <div class="rightCon">
    <div class="con-txt">
      <p class="total"><strong>Total</strong></p>
      <p class="total">EGP<strong>158632</strong></p>
    </div>
    <a class="checkout" routerLink="">Checkout</a>
    
    </div>
    </div>
