<div class="nav-settings">
    <div class="sideNavbar">
        <div class="userImg">
            <img src='./assets/yasmeen.jpg' alt="user">
        </div>
        <ul>
            <li routerLinkActive="active"><span><i class="bi bi-gear-fill"></i></span><a class="nav-link rounded" routerLink="/profile">Settings</a></li>
            <li routerLinkActive="active"><span><i class="bi bi-cart-check-fill"></i></span><a class="nav-link rounded" routerLink="/profile/orders" >My Orders</a></li>
        </ul>
    </div> 
    <div class="information">
        <h2>Your account settings</h2>
        <form action="">
           <div class="inputLabels">
             <div class="inputLabel">
               <label for="">Name</label>
               <label for="">Email address</label>
            </div>
            <div class="inputboxes">
                <input #userName type="text" [value]="username">
                <input #email type="email" [value]="mail">
             </div>
           </div>
             <input type="file" name="" id="uploadImg">
             <input type="button" value="Save settings"(click)="Update(userName.value,email.value)">

        </form>
    </div> 
</div>
